.fg {
    overflow: hidden;
    touch-action: none;
    content-zooming: none;
}

.bod {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c9c4b5;
}

.draggable {
    cursor: pointer;
    cursor: -webkit-grab;
}

.dragging {
    cursor: move;
    cursor: -webkit-grabbing;
}


/*-------------nav bar------------------*/

@import 'https://fonts.googleapis.com/css?family=Raleway';
div.container-fluid {
    font-family: Raleway;
    margin: 0;
    text-align: center;
}

div.container-fluid a {
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.gray {
    background: #9e9e9e;
}


/* Highlight text out  */


/*div.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

div.highlightTextOut a:before, div.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */


/*div.highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

div.highlightTextIn a:before
{
    transform: scale(1.2);
} */


/*---------------------Gallery---------------------------*/

.title {
    text-align: center;
    color: #333;
    font: 24px Helvetica, Arial, serif;
}

.creds {
    text-align: center;
    color: #666;
    font: 12px Helvetica, Arial, serif;
}

.creds a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.three-d-container {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.three-d-cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ( -150px);
    -moz-transform: translateZ( -150px);
    -ms-transform: translateZ( -150px);
    -o-transform: translateZ( -150px);
    transform: translateZ( -150px);
}

.three-d-cube .three-d-item {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    position: absolute;
}

.three-d-cube .three-d-item img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

.three-d-item:nth-child(1) {
    -webkit-transform: rotateY( 0deg) translateZ( 150px);
    -moz-transform: rotateY( 0deg) translateZ( 150px);
    -ms-transform: rotateY( 0deg) translateZ( 150px);
    -o-transform: rotateY( 0deg) translateZ( 150px);
    transform: rotateY( 0deg) translateZ( 150px);
}

.three-d-item:nth-child(2) {
    -webkit-transform: rotateX( 180deg) translateZ( 150px);
    -moz-transform: rotateX( 180deg) translateZ( 150px);
    -ms-transform: rotateX( 180deg) translateZ( 150px);
    -o-transform: rotateX( 180deg) translateZ( 150px);
    transform: rotateX( 180deg) translateZ( 150px);
}

.three-d-item:nth-child(3) {
    -webkit-transform: rotateY( 90deg) translateZ( 150px);
    -moz-transform: rotateY( 90deg) translateZ( 150px);
    -ms-transform: rotateY( 90deg) translateZ( 150px);
    -o-transform: rotateY( 90deg) translateZ( 150px);
    transform: rotateY( 90deg) translateZ( 150px);
}

.three-d-item:nth-child(4) {
    -webkit-transform: rotateY( -90deg) translateZ( 150px);
    -moz-transform: rotateY( -90deg) translateZ( 150px);
    -ms-transform: rotateY( -90deg) translateZ( 150px);
    -o-transform: rotateY( -90deg) translateZ( 150px);
    transform: rotateY( -90deg) translateZ( 150px);
}

.three-d-item:nth-child(5) {
    -webkit-transform: rotateX( 90deg) translateZ( 150px);
    -moz-transform: rotateX( 90deg) translateZ( 150px);
    -ms-transform: rotateX( 90deg) translateZ( 150px);
    -o-transform: rotateX( 90deg) translateZ( 150px);
    transform: rotateX( 90deg) translateZ( 150px);
}

.three-d-item:nth-child(6) {
    -webkit-transform: rotateX( -90deg) translateZ( 150px);
    -moz-transform: rotateX( -90deg) translateZ( 150px);
    -ms-transform: rotateX( -90deg) translateZ( 150px);
    -o-transform: rotateX( -90deg) translateZ( 150px);
    transform: rotateX( -90deg) translateZ( 150px);
}

.a:checked~.three-d-cube {
    -webkit-transform: translateZ( -150px) rotateY( 0deg);
    -moz-transform: translateZ( -150px) rotateY( 0deg);
    -ms-transform: translateZ( -150px) rotateY( 0deg);
    -o-transform: translateZ( -150px) rotateY( 0deg);
    transform: translateZ( -150px) rotateY( 0deg);
}

.b:checked~.three-d-cube {
    -webkit-transform: translateZ( -150px) rotateX( -180deg);
    -moz-transform: translateZ( -150px) rotateX( -180deg);
    -ms-transform: translateZ( -150px) rotateX( -180deg);
    -o-transform: translateZ( -150px) rotateX( -180deg);
    transform: translateZ( -150px) rotateX( -180deg);
}

.c:checked~.three-d-cube {
    -webkit-transform: translateZ( -150px) rotateY( -90deg);
    -moz-transform: translateZ( -150px) rotateY( -90deg);
    -ms-transform: translateZ( -150px) rotateY( -90deg);
    -o-transform: translateZ( -150px) rotateY( -90deg);
    transform: translateZ( -150px) rotateY( -90deg);
}

.d:checked~.three-d-cube {
    -webkit-transform: translateZ( -150px) rotateY( 90deg);
    -moz-transform: translateZ( -150px) rotateY( 90deg);
    -ms-transform: translateZ( -150px) rotateY( 90deg);
    -o-transform: translateZ( -150px) rotateY( 90deg);
    transform: translateZ( -150px) rotateY( 90deg);
}

.e:checked~.three-d-cube {
    -webkit-transform: translateZ( -150px) rotateX( -90deg);
    -moz-transform: translateZ( -150px) rotateX( -90deg);
    -ms-transform: translateZ( -150px) rotateX( -90deg);
    -o-transform: translateZ( -150px) rotateX( -90deg);
    transform: translateZ( -150px) rotateX( -90deg);
}

.f:checked~.three-d-cube {
    -webkit-transform: translateZ( -150px) rotateX( 90deg);
    -moz-transform: translateZ( -150px) rotateX( 90deg);
    -ms-transform: translateZ( -150px) rotateX( 90deg);
    -o-transform: translateZ( -150px) rotateX( 90deg);
    transform: translateZ( -150px) rotateX( 90deg);
}

.three-d-bullet {
    margin: 350px 10px 0 0;
    float: left;
}

.three-d-bullet:first-child {
    margin: 350px 10px 0 88px;
}


/*==========About us=====================*/

[class*='thumbnail-'] {
    background: #000;
    width: 33.33%;
    height: auto;
    float: left;
    padding: 5px 5px 3px 5px;
    cursor: zoom-in;
}

[class*='thumbnail-'] img {
    max-width: 100%;
}

[class*='large-'] {
    background: #000;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    display: none;
}

[class*='large-'] img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.prev {
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 10px;
    float: left;
}

.next {
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 45%;
    right: 10px;
    float: right;
}

.close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    float: right;
    cursor: zoom-out;
}

[class*='thumbnail-'] {
    overflow: hidden;
    padding: 0;
    position: relative;
    cursor: zoom-in;
}

[class*='thumbnail-']:hover img {
    transition: .3s linear;
    transition-delay: 300ms;
    transform: /* rotate(5deg) */
    scale(1.4);
}

[class*='thumbnail-']>.caption {
    display: none;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0.8;
}

[class*='thumbnail-']:hover>.caption {
    display: block;
}

@media screen and (max-width:480px) {
    .caption h3 {
        font-size: 12px;
    }
}


/*-----------------signin/up-------------------------------*/


/*-----------------services-------------------------------*/

h1 {
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}

.service-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.service-icon {
    width: 100%;
    height: 220px;
    padding: 20px;
    text-align: center;
    transition: all .5s ease;
}

.service-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 220px;
    padding: 20px;
    text-align: center;
    transition: all .5s ease;
    background-color: #474747;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform: translateY(110px) rotateX(-90deg);
    -moz-transform: translateY(110px) rotateX(-90deg);
    -ms-transform: translateY(110px) rotateX(-90deg);
    -o-transform: translateY(110px) rotateX(-90deg);
    transform: translateY(110px) rotateX(-90deg);
}

.service-box .service-icon .front-content {
    position: relative;
    top: 80px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}

.service-box .service-icon .front-content h3 {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.service-box .service-content h3 {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.service-box .service-content p {
    font-size: 13px;
    color: #b1b1b1;
    margin: 0;
}

.yellow {
    background-color: #ffc000;
}

.orange {
    background-color: #fc7f0c;
}

.red {
    background-color: #e84b3a;
}

.grey {
    background-color: #474747;
}

.service-box:hover .service-icon {
    opacity: 0;
    -webkit-transform: translateY(-110px) rotateX(90deg);
    -moz-transform: translateY(-110px) rotateX(90deg);
    -ms-transform: translateY(-110px) rotateX(90deg);
    -o-transform: translateY(-110px) rotateX(90deg);
    transform: translateY(-110px) rotateX(90deg);
}

.service-box:hover .service-content {
    opacity: 1;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}


/*--------------------footer-----------------------------*/

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
}

.jumbotron h1 {
    color: #353535;
}

footer {
    margin-bottom: 0 !important;
    margin-top: 80px;
}

footer p {
    margin: 0;
    padding: 0;
}

span.icon {
    margin: 0 5px;
    color: #D64541;
}

h2 {
    color: #BDC3C7;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mrng-60-top {
    margin-top: 60px;
}


/* Global Button Styles */

a.animated-button:link,
a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link,
a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


/* Victoria Buttons */

a.animated-button.victoria-one {
    border: 2px solid #D24D57;
}

a.animated-button.victoria-one:after {
    background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.victoria-two {
    border: 2px solid #D24D57;
}

a.animated-button.victoria-two:after {
    background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.victoria-three {
    border: 2px solid #D24D57;
}

a.animated-button.victoria-three:after {
    background: #D24D57;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}

a.animated-button.victoria-four {
    border: 2px solid #D24D57;
}

a.animated-button.victoria-four:after {
    background: #D24D57;
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}


/*----------------running text-------------------*/

span.cd {
    height: 100px;
}

span.cd span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 80px;
    color: black;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 0 #CCC, 0 11px 0 #CCC, 0 12px 0 #CCC, 0 13px 0 #CCC, 0 14px 0 #CCC, 0 15px 15px rgba(0, 0, 0, .4);
}

span span:nth-child(2) {
    animation-delay: .1s;
}

span span:nth-child(3) {
    animation-delay: .2s;
}

span span:nth-child(4) {
    animation-delay: .3s;
}

span span:nth-child(5) {
    animation-delay: .4s;
}

span span:nth-child(6) {
    animation-delay: .5s;
}

span span:nth-child(7) {
    animation-delay: .6s;
}

span span:nth-child(8) {
    animation-delay: .7s;
}

span span:nth-child(9) {
    animation-delay: .7s;
}

span span:nth-child(10) {
    animation-delay: .6s;
}

span span:nth-child(11) {
    animation-delay: .5s;
}

span span:nth-child(12) {
    animation-delay: .4s;
}

span span:nth-child(13) {
    animation-delay: .3s;
}

span span:nth-child(14) {
    animation-delay: .2s;
}

span span:nth-child(15) {
    animation-delay: .1s;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 10px 0 #CCC, 0 11px 0 #CCC, 0 12px 0 #CCC, 0 13px 0 #CCC, 0 14px 0 #CCC, 0 15px 0 #CCC, 0 16px 0 #CCC, 0 50px 25px rgba(0, 0, 0, .2);
    }
}


/*---------------imaage slider----------------------*/

* {
    margin: 0;
    padding: 0;
}

.g[type=radio] {
    display: none;
}

#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}


/*-------------about us text animation----------------*/

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}


/*-------------Services text animation----------------*/

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}


/*-------------our gallery text animation----------------*/

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}